streamlit==1.31.0
langchain==0.0.344
langchain-core==0.1.22
langchain-community==0.0.17
langchain-groq==0.0.1
langchain-huggingface==0.0.2
langchain-text-splitters==0.0.1
langchain-chroma==0.0.5
beautifulsoup4==4.12.2
pandas==2.1.1
fake-useragent==1.4.0
tqdm==4.66.1
gtts==2.3.2
requests==2.31.0
fpdf==1.7.2
python-dotenv==1.0.0
chroma-hnswlib==0.7.3
chromadb==0.4.22
sentence-transformers==2.2.2
uuid==1.30
